# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.suo
*.user
*.sdf
*.opensdf
*.filters
*.pdb
*.exp
*.ilk
[Dd]ebug*/
[Rr]elease*/
[._rResharper]*/
ipch*/
