# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.suo
*.user
*.sdf
*.opensdf
*.filters
*.pdb
*.exp
*.ilk
[Dd]ebug*/
[Rr]elease*/
[._][rR]e[sS]harper*/
ipch*/
/project/VS2010Express/pvr.iptvsimple.*.zip
