<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting label="30010" type="lsep"/>
	<setting id="m3uPathType" type="labelenum" label="30000" lvalues="30001|30002" />
    <setting id="m3uPath" type="fileenum" label="30011" default="" visible="eq(-1,30001)"/>
    <setting id="m3uUrl" type="text" label="30012" default="" visible="eq(-2,30002)"/>

	<setting label="30020" type="lsep"/>
	<setting id="epgPathType" type="select" label="30000" lvalues="30001|30002" />
    <setting id="epgPath" type="fileenum" label="30021" default="" visible="eq(-1,30001)"/>
    <setting id="epgUrl" type="text" label="30022" default="" visible="eq(-2,30002)"/>
    <setting id="epgTimeShift" type="slider" label="30024" default="0" range="-12,0.5,12" option="float"/>
	<setting id="epgTSToAll" type="bool" label="30023" default="true"/>

	<setting label="30030" type="lsep"/>
    <setting id="logoPath" type="folder" label="30031" default="" />
</settings>
